.App {
  max-width: 700px;
  margin: 40px auto;
}
button {
  background: none;
  color: white;
  padding: 6px 12px;
  border: 2px solid white;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}
button:hover {
  background: #c23866;
  color: white;
}
.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
