@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");
body {
  margin: 0;
  font-family: "Playball", cursive;
  font-size: 1.5rem;
  text-align: center;
  color: white;
  background: #1b1523;
}
